trial_id: Goetheweg-2024
plot_id_field: ID
year: 2024
ndvi_file: ndvi_goetheweg_2024.csv
pygeoapi_url: "http://localhost:5000"
sensorthingsapi_url: "https://tuzehez-fairagro.srv.mwn.de/frost/v1.1"
# Datastreams
datastreams:
  # NDVI - Normalized Difference Vegetation Index
  - name: "NDVI - Trial Plot {plot_id}"
    description: "Normalized Difference Vegetation Index (NDVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 1
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Normalized Difference Vegetation Index"
    properties:
      raster_data: "NDVI"
      spectral_index:
        name: "NDVI"
        formula: "(NIR - Red) / (NIR + Red)"
